body{
  padding : 1%;
  margin: 3%;
  background-color: rgba(0, 0, 0, 0.466);
  font-variant: small-caps;
}
header{
  clear: both;
  margin: 0 auto;
  background-color: rgb(208, 154, 17);
  background-image: url(http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4%;
  color: rgba(255, 68, 0, 0.575);
}
header>h1{
  text-align: center;
  text-emphasis: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
  font-size: 500%;
  margin: auto;
}
header>nav{
  clear: both;
  display: block;
  background-color: rgba(0, 0, 255, 0.507);
  width: 90%;
  text-align: center;
  border: 1%;
  border-radius: 5px;
  border-color: rgba(37, 255, 37, 0.527);
  margin:0.5% auto;
  padding: 2.5%;
}
nav>a{
  display: inline;
  background-color: rgba(0, 128, 0, 0.451);
  color: #ffffff;
  margin: 5% 6%;
  text-align: center;
  padding: 2%;
  border: 0.5%;
  border-radius: 5px;
  text-decoration: none;
}
nav>a.active{
  background-color: #a52a2aa2;
  color: #ffffff;
}
nav>a:active, nav>a:hover{
  background-color: #ffff008c;
  color: #000000;
  text-decoration: dashed;
}
nav>a:visited{
  text-decoration: wavy;
}
main{
  background-color: rgba(0, 255, 255, 0.808);
}
.left{
  display: block;
  float: left;
  clear: left;
  text-align: center;
  width: 25%;
  height: 10000%;
  background-color: rgba(69, 240, 69, 0.699);
}
.left a{
  display: block;
}
.left a img{
  display: block;
  margin: 2% auto;
  padding: 2.5%;
  width: 92%;
  height: 92.5%;
}
.right{
  display: block;
  float: left;
  width: 75%;
  height: 100%;
  background-color:rgb(180, 37, 180);
  border: rgba(0, 128, 0, 0.808), 2%, 5px;
}
.right h2, .right p{
  display: block;
  text-align: justify;
  color: #ffa500;
  font-variant: normal;
  font-size-adjust: initial;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 150%;
  width: 70%;
  height: 120%;
  line-height: 200%;
  margin: 4% 10% 1% 10%;
}

.right h2{
  text-align: center;
  text-emphasis: italic;
  text-emphasis: bold;
  font-size: 250%;
}
